<ion-header>
  <ion-toolbar class="ion-text-center" color="softblue">
    <ion-title>SELF LEARNING ACCESS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active"  expand="full" color="yellow" shape="round" size="large"> 
    STUDENT
</ion-button>

<ion-button expand="full" color="yellow" shape="round" size="large"> 
  ADMIN
</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center" color="orange">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
