<ion-header>
  <ion-toolbar class="ion-text-center" color="orange">
    <ion-title>1/30</ion-title>
      <ion-buttons slot="start">
        <ion-back-button>Back</ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content > 

      <ion-label>Answer the question below</ion-label>

  <ion-card>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              1. Pernyataan di bawah menunjukkan satu kemahiran proses sains.
              <p class="ion-text-center">  
                <img src="/assets/d1.jpeg" alt="d1" width="100%">
              </p>
              Apakah kemahiran proses sains itu?
            </ion-label>
          </ion-list-header>
      
          <ion-item>
            <p>Meramal</p>
            <ion-radio slot="start" value="A"></ion-radio>
          </ion-item>
      
          <ion-item>
            <p>Mengelas</p>
            <ion-radio slot="start" value="B"></ion-radio>
          </ion-item>
      
          <ion-item>
            <p>Membuat inferens</p>
            <ion-radio slot="start" value="C"></ion-radio>
          </ion-item>
      
          <ion-item>
            <p>Mentafsir data</p>
            <ion-radio slot="start" value="D"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
  </ion-card>
  
  <ion-grid fixed>
  
    <ion-row>
      <ion-col size="12">
        <ion-card color="peach">
          <p class="ion-text-center"> </p>
          <ion-card-header color="peach">
            <ion-card-title>
              1.  Pernyataan di bawah menunjukkan satu kemahiran proses sains.
              <p class="ion-text-center">  
                <img src="/assets/d1.jpeg" alt="rajah 1" width="100%">
              </p>
              Apakah kemahiran proses sains itu?
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  
     <ion-row>
       <ion-col size="12">
         <ion-button value="A" color="warning" fill="solid" expand="block" size="default"> 
          Meramal
        </ion-button>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <ion-button value="B" color="warning" fill="solid" expand="block" size="default"> 
            Mengelas 
          </ion-button>
         </ion-col>
       </ion-row>
  
       <ion-row>
        <ion-col size="12">
          <ion-button value="C" color="warning" fill="solid" expand="block" size="default"> 
            Membuat inferens
          </ion-button>
         </ion-col>
       </ion-row>
  
       <ion-row>
        <ion-col size="12">
          <ion-button value="D" color="warning" fill="solid" expand="block" size="default"> 
            Mentafsir data
          </ion-button>
         </ion-col>
       </ion-row>
    
  </ion-grid>
  
  <ion-grid fixed>
  
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <p class="ion-text-center"> </p>
          <ion-card-header>
            <ion-card-title>
              1.  Pernyataan di bawah menunjukkan satu kemahiran proses sains.
              <p class="ion-text-center">  
                <img src="/assets/d1.jpeg" alt="rajah 1" width="100%">
              </p>
              Apakah kemahiran proses sains itu?
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <ion-card >
          <button ion-button full block>
            <span class="wrap-text">Meramal </span>
          </button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card >
          <button ion-button full block>
            <span class="wrap-text">Mengelas </span>
          </button>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <ion-card >
          <button ion-button full block>
            <span class="wrap-text">Membuat inferens</span>
          </button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card >
          <button ion-button full block>
            <span class='overflow-me'>Mentafsir data</span>
          </button>
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"></ion-col>
  
      <ion-col size="6">
        <ion-button  color="peach" [routerLink]="['/d2']" expand="block" fill="solid" size="default">
          <ion-icon slot="end" name="caret-forward-circle-outline"></ion-icon>
            Next 
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>


