<ion-header>
  <ion-toolbar class="ion-text-center"color="softblue">
    <ion-title>Soalan Lazim</ion-title>
      <ion-buttons slot="start">
        <ion-back-button>Back</ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding"> 

    <ion-text class="ion-text-center">
      <h1>Terma dan Syarat</h1>
    </ion-text>

    <ion-text>
      <p>Dengan memuat turun atau menggunakan aplikasi, syarat-syarat ini akan berlaku secara automatik
         kepada anda - oleh itu anda harus memastikan bahawa anda membacanya dengan teliti sebelum 
         menggunakan aplikasi tersebut. Anda tidak dibenarkan menyalin, atau mengubah aplikasi, 
         mana-mana bahagian aplikasi, atau tanda dagangan kami dengan cara apa pun. Anda tidak diizinkan
         untuk berusaha mengekstrak kod sumber aplikasi, dan anda juga tidak boleh cuba menerjemahkan 
         aplikasi ke bahasa lain, atau membuat versi terbitan. Aplikasi itu sendiri, dan semua tanda 
         dagangan, hak cipta, hak pangkalan data dan hak harta intelek lain yang berkaitan dengannya, 
         masih menjadi milik Self-Learning Access (SLA) Aplikasi.
      </p>
    </ion-text>

    <ion-text>
      <p>SLA berkomitmen untuk memastikan bahawa aplikasi itu berguna dan efisien yang mungkin. 
         Atas sebab itu, kami berhak untuk membuat perubahan pada aplikasi atau mengenakan bayaran 
         atas perkhidmatannya, pada bila-bila masa dan dengan alasan apa pun. Kami tidak akan 
         mengenakan bayaran untuk aplikasi atau perkhidmatannya tanpa menjelaskan kepada anda dengan 
         tepat apa yang anda bayar.
      </p>
    </ion-text>

    <ion-text>
      <p>SLA menyimpan dan memproses data peribadi yang telah anda berikan kepada kami,
         untuk memberikan perkhidmatan kami. Tanggungjawab anda untuk menjaga keselamatan
         telefon dan akses ke aplikasi anda. Oleh itu, kami mengesyorkan agar anda tidak
         melakukan jailbreak atau membasmi telefon anda, yang merupakan proses menghapus 
         sekatan dan batasan perisian yang dikenakan oleh sistem operasi rasmi peranti anda.
         Ini boleh menjadikan telefon anda rentan terhadap malware/virus/program jahat,
         menjejaskan ciri keselamatan telefon anda dan ini bermaksud ASL tidak akan berfungsi 
         dengan baik atau sama sekali.
      </p>
    </ion-text>

    <ion-text>
      <p>Selain itu, Aplikasi SLA tidak selalu bertanggungjawab terhadap cara anda menggunakan 
         aplikasi tersebut. Anda perlu memastikan bahawa peranti anda tetap terisi - jika
         kehabisan bateri dan anda tidak dapat menghidupkannya untuk memanfaatkan Perkhidmatan, 
         SLA tidak boleh menerima tanggungjawab.
      </p>
    </ion-text>

    <ion-text>
      <p><b>Hubungi Kami:</b> Sekiranya anda mempunyai pertanyaan atau cadangan mengenai terma dan syarat ini, jangan ragu untuk menghubungi kami.
      </p>
    </ion-text>


</div>
</ion-content>


