<ion-header>
  <ion-toolbar class="ion-text-center" color="softblue">
    <ion-title>NOTA DARJAH 4</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <h2><b>TOPIK 1</b></h2>
        <img src="./assets/n1-a.jpeg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h2><b>TOPIK 2</b></h2>
        <img src="./assets/n1-b.jpeg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h2><b>TOPIK 3</b></h2>
        <img src="./assets/n1-c.jpeg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h2><b>TOPIK 4</b></h2>
        <img src="./assets/n1-d.jpeg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h2><b>TOPIK 5</b></h2>
        <img src="./assets/n1-e.jpeg"/>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
